
<%= form_tag admin_available_spaces_path ,:method=>"get" do %>
  <p>
    <p>Start Date
    <%= text_field_tag("search[start_date]", !params[:search].blank? && !params[:search]["start_date"].blank? ?  params[:search]["start_date"] : "", :class => 'datepicker')  %>
    
     End Date 
    <%= text_field_tag( "search[end_date]", !params[:search].blank? && !params[:search]["end_date"].blank? ?  params[:search]["end_date"] : "" , :class => 'datepicker') %>
    <%= submit_tag "Search", :name => nil %>
  </p>
 <% end %>
 <div id="chart_div" style="width: 1200px; height: 500px;"></div>

  <!--<script type="text/javascript" src="https://www.google.com/jsapi"></script>-->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(
          <%=raw @bookings_data.to_a%>
        );

        var options = {
          title: 'Company Performance',
          hAxis: {title: 'Days', titleTextStyle: {color: 'red'}},
          vAxis:{title:'Occupied Space', maxValue:1000}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
